a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: orange;
}
a{
	text-decoration:none;
	list-style:none;
}
img {
  border-radius: 60%;
}
body {
    background-color: #c4c4c4;
  
}


#bigbox{
	width:600px;
	height:2000px;
	padding:10px;
	background-color:white;
	background-image:none;
	
}
#square1{
	width:400px;
	height:500px;
	padding:10px;
	background-color:white;
	border:3px solid black;
	color:black;
	margin-top:20px;
	color:white;
}
#square2{
	width:400px;
	height:500px;
	padding:10px;
	background-color:green;
	border:3px solid black;
	color:black;
	margin-top:-525px;	
	margin-left:430px;
	color:white;
}
